h1 {
    font-family: Impact;
    color: #F39C12;
}

h3 {
    font-family: Futura, Helvetica;
    color: rgba(0, 0, 0, 0.8711);
    letter-spacing: 1px;
    padding: 0px;
    line-height: 0px;
}

body {
    background: #F0F0F0;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

li {
    color: rgba(0, 0, 0, 0.8711);
}

.accent {
    color: #0071BC;
}

.underline {
    color: #C07704;
}

.paragraph {
    width: 500px;
}

.intro {
    background: #FFFFFF;
    padding:25px;
    margin: 12px;
    border-radius: 5px;
    width: 400px;
    color: rgba(0, 0, 0, 0.539);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    float: left;
}

.intro.info {
    width: 600px
}

#clima {
    float: right;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 100px;
    font-size: 13px;
    text-align: center;
    list-style-type: none;
    vertical-align: middle;
    background: #FFFFFF;
    border: 2px solid #0071BC;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

#map {
    width: 50%;
    margin: 0 auto;
    width: 450px;
    height: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
}

#images {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

#images img {
    width: 25%;
    height: 25%;
    border: 1px solid #0071BC;
    margin: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
}

#extract {
    margin: 25px;
}

#close {
    float: right;
    font-size: 12px;
    opacity: 0.65;
    font-family: arial;
    cursor: pointer;
    color: #0071BC;
}

#close:hover {
    opacity: 1;
}
